#nav-mobile {
  position: fixed !important;
  bottom: 0;
}

.nav-desktop i.material-icons {
  font-size: 33px !important;
}

.menu-desktop {
  height: 65px !important;
}

#save,
.team-item,
.team-title,
.team-img {
  cursor: pointer;
}

#save {
  font-size: 37px;
  position: relative;
  bottom: -7px;
}

#standing-table,
.match-list,
.team-list,
.squads {
  margin-bottom: 70px;
}

#standing-table td img {
  width: 100%;
}

#standing-table thead tr th:nth-child(1),
#standing-table thead tr th:nth-child(3),
#standing-table thead tr th:nth-child(4),
#standing-table thead tr th:nth-child(5),
#standing-table thead tr th:nth-child(6) {
  width: 4%;
}

#standing-table tbody tr td:nth-child(2) {
  width: 50px;
}

#standing-table thead tr th {
  font-size: 1.2em;
}

nav .brand-logo.center {
  width: 100%;
}

#top-bar-mobile .brand-logo {
  font-size: 1.5em;
}

.dropdown-trigger {
  font-size: 1.3em;
}

.sidenav {
  width: 250px !important;
}

.match-item {
  font-size: 1.15em;
  border-radius: 10px;
  line-height: 1.2em;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.match-container {
  padding: 10px !important;
  padding-top: 5px !important;
}

.match-container.row {
  margin-bottom: 0 !important;
}

.match-list {
  padding-top: 10px;
}

.match-item .date {
  font-size: 0.8em;
}

.team-item {
  margin-bottom: 10px;
  height: 180px;
}

.team-item img {
  max-height: 100%;
  max-width: 100%;
}

.team-image {
  height: 100px;
}

.team-item h6 {
  line-height: 1em;
}

.team-list {
  padding-top: 25px;
}

.menu-mobile {
  color: #424242;
}

.active-desktop {
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: #2e7d32 !important;
}

.team-image img {
  width: 100%;
}

.team-info td:first-child {
  font-weight: bold;
}

.team-title:hover {
  color: #2e7d32 !important;
}

.no-shadow {
  box-shadow: none;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .match-item {
    font-size: 1em;
  }

  .match-item .date {
    font-size: 0.9em;
  }
  .team-item h6 {
    line-height: 0.9em;
  }
  .team-item {
    height: 160px;
  }

  .team-info td:first-child {
    width: 100px !important;
  }
}
