#nav-mobile {
  position: fixed !important;
  bottom: 0;
}

#standing-table thead {
  position: sticky;
}

#standing-table thead tr th:nth-child(1),
#standing-table thead tr th:nth-child(3),
#standing-table thead tr th:nth-child(4),
#standing-table thead tr th:nth-child(5),
#standing-table thead tr th:nth-child(6) {
  width: 4%;
}

#standing-table tbody tr td:nth-child(2) {
  width: 50px;
}

#standing-table thead tr th {
  font-size: 1.2em;
}

nav .brand-logo.center {
  width: 100%;
}

#top-bar-mobile .brand-logo {
  font-size: 1.5em;
}

.dropdown-trigger {
  font-size: 1.3em;
}

.sidenav {
  width: 250px !important;
}

.match-item {
  font-size: 1.2em;
  border-radius: 10px;
  margin-top: 15px;
  line-height: 1.2em;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
